<html>
    <head>
        <title>Button Component</title>
        <link rel="stylesheet" href="../main.css">
        <style>
            
        </style>
    </head>
    <body >
        <h1>Buttons</h1>
        <div class="row">
            <div class="col">
                <a href="https://jacoblewis.me" class="btn spread dark">My Button</a>
            </div>
            <div class="col">
                <a href="https://jacoblewis.me" class="btn spread">My Button</a>
            </div>
            <div class="col">
                <a href="https://jacoblewis.me" class="btn outline dark">My Button</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://jacoblewis.me" class="btn spread text">My Button</a>
            </div>
            <div class="col">
                <a href="https://jacoblewis.me" class="btn spread text dark">My Button</a>
            </div>
            <div class="col">
                <a href="https://jacoblewis.me" class="btn outline">My Button</a>
            </div>
        </div>
    </body>
</html>