@primary-color: #f5f5f5;
@primary-dark-color: #252525;
@primary-text-color: #353535;
@primary-dark-text-color: #e5e5e5;
@max-width: 900px;

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}



.row {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;

  .col {
    padding: 0 5px;
    display: flex;
    flex: 1;
    min-width: 100px;
    max-width: 100%;
  }
}

.content {
  margin: 0 auto;
  width: 80%;
  max-width: @max-width;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Buttons
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: @primary-color;
  color: @primary-text-color;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s;
  text-align: center;

  &:hover {
    background-color: darken(@primary-color, 10%);
  }
  &.dark {
    background-color: @primary-dark-color;
    color: @primary-dark-text-color;

    &:hover {
      background-color: lighten(@primary-dark-color, 10%);
    }
  }
  &.outline {
    background-color: transparent;
    border: 2px solid @primary-dark-color;
    color: @primary-text-color;
    transition: border 0.3s;

    &:hover {
      background-color: transparent;
      border: 2px solid lighten(@primary-dark-color, 40%);
    }
    &.dark {
      border: 2px solid @primary-color;
      color: @primary-dark-text-color;
  
      &:hover {
        background-color: transparent;
        border: 2px solid darken(@primary-color, 20%);
      }
    }
  }
  &.text {
    background-color: transparent;
    color: @primary-text-color;
    transition: color 0.3s;

    &:hover {
      color: darken(@primary-text-color, 10%);
    }
    &.dark {
      color: @primary-dark-text-color;
      background-color: transparent;

      &:hover {
        color: lighten(@primary-dark-text-color, 10%);
      }
    }
  }
}

.dark {
  color: @primary-dark-text-color;
  background-color: @primary-dark-color;
}

.light {
  color:@primary-text-color;
  background-color: @primary-color;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

// Shapes
.squircle {
  position: relative;
  border-radius: 25%;
}

.fl-auto {
  margin-right: auto;
}

.footer {
  .dark();
  height: 60px;
  padding: 60px;
}

// Layout
.spread {
  width: 100%;
}